@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: local("Montserrat"), url("../fonts/Montserrat-300.woff2"), url("../fonts/Montserrat-300.woff"); }

@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local("Montserrat"), url("../fonts/Montserrat.woff2"), url("../fonts/Montserrat.woff"); }

@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: local("Montserrat"), url("../fonts/Montserrat-Bold.woff2"), url("../fonts/Montserrat-Bold.woff"); }

*,
*::before,
*::after {
  box-sizing: inherit; }

html {
  box-sizing: border-box; }

body {
  margin: 0; }

a {
  font-family: inherit;
  color: inherit;
  text-decoration: none; }

img {
  max-width: 100%;
  height: auto; }

ul {
  list-style: none; }

h1,
h2,
h3,
p,
ul,
ol {
  margin: 0;
  padding: 0; }

button,
input {
  outline: none;
  border: none; }
  button:focus,
  input:focus {
    outline: none; }

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden; }

.btn {
  width: 100%;
  max-width: 450px;
  padding: 18px;
  font-weight: bold;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  letter-spacing: 0.02em;
  color: #ffffff;
  background-color: #55c1ff;
  border-radius: 5px;
  cursor: pointer; }
  .btn:hover {
    opacity: 0.8; }

.highlight-text {
  color: #55c1ff; }

.page {
  height: 100%;
  min-width: 320px;
  margin: 0;
  font-weight: normal;
  font-size: 14px;
  line-height: 1;
  font-family: "Montserrat", "Arial", sans-serif;
  color: #ffffff; }

.page__body {
  min-height: 100%;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  margin: 0 auto;
  background-color: #141414; }

.box {
  max-width: 1600px;
  width: calc(100% - 332px);
  margin: 0 auto; }
  @media (max-width: 1600px) {
    .box {
      width: calc(100% - 80px); } }
  @media (max-width: 767px) {
    .box {
      width: calc(100% - 40px); } }

.form__group {
  display: flex;
  max-width: 640px; }
  @media (max-width: 1024px) {
    .form__group {
      flex-direction: column; } }

.form__input {
  padding: 16px 30px;
  width: 100%;
  font-size: 16px;
  line-height: 26px;
  letter-spacing: 0.02em;
  color: #262626;
  background-color: #ffffff;
  border-radius: 5px; }
  .form__input::placeholder {
    color: rgba(38, 38, 38, 0.3); }

.form__btn {
  width: 100%;
  max-width: 450px;
  padding: 18px;
  font-weight: bold;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  letter-spacing: 0.02em;
  color: #ffffff;
  background-color: #55c1ff;
  border-radius: 5px;
  cursor: pointer; }
  .form__btn:hover {
    opacity: 0.8; }

.hero {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  position: relative;
  min-height: calc(100vw * 0.47); }
  @media (max-width: 767px) {
    .hero {
      height: auto;
      max-height: unset; } }
  @media (min-width: 768px) {
    .hero::before {
      background: rgba(0, 0, 0, 0.6);
      position: absolute;
      content: "";
      top: 0;
      left: 0;
      bottom: 0;
      width: 50%;
      height: 100%;
      z-index: -1;
      backdrop-filter: blur(10px); } }

.hero__img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  object-fit: cover;
  z-index: -2; }

.hero__logo {
  max-width: 140px;
  margin-bottom: auto; }
  @media (max-width: 767px) {
    .hero__logo {
      margin-bottom: 40px; } }

.hero__info {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 50%;
  height: 100%;
  padding: 4%;
  padding-left: 160px;
  margin-right: auto; }
  @media (max-width: 1800px) {
    .hero__info {
      padding-left: 40px; } }
  @media (max-width: 1440px) {
    .hero__info {
      padding-bottom: 0; } }
  @media (max-width: 767px) {
    .hero__info {
      width: 100%;
      align-items: center;
      margin: auto;
      padding: 50px 4%;
      padding-left: 20px; } }

.hero__title {
  margin: 40px 0 20px;
  font-size: 90px;
  line-height: 94px; }
  @media (max-width: 1800px) {
    .hero__title {
      margin-bottom: 14px;
      font-size: 64px;
      line-height: 72px; } }
  @media (max-width: 1220px) {
    .hero__title {
      font-size: 52px;
      line-height: 58px; } }
  @media (max-width: 992px) {
    .hero__title {
      margin-bottom: 8px;
      font-size: 36px;
      line-height: 37px; } }
  @media (max-width: 767px) {
    .hero__title {
      text-align: center;
      font-size: 48px;
      line-height: 50px; } }

.hero__descr {
  margin-bottom: 50px;
  font-weight: 300;
  font-size: 30px;
  line-height: 37px;
  color: #ffffff; }
  @media (max-width: 1800px) {
    .hero__descr {
      margin-bottom: 40px;
      font-size: 18px;
      line-height: 22px; } }
  @media (max-width: 1220px) {
    .hero__descr {
      margin-bottom: 26px;
      font-size: 14px;
      line-height: 17px; } }
  @media (max-width: 767px) {
    .hero__descr {
      text-align: center;
      font-size: 24px;
      line-height: 29px; } }
  @media (max-width: 575px) {
    .hero__descr {
      margin-bottom: 60px; } }

.hero__label {
  display: flex;
  align-items: center;
  max-width: 542px;
  padding: 23px 35px;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0.02em;
  color: #17223b;
  background-color: #ffffff;
  border-radius: 5px; }
  @media (max-width: 1800px) {
    .hero__label {
      max-width: 460px;
      padding: 14px;
      font-size: 16px;
      line-height: 18px; } }
  @media (max-width: 1220px) {
    .hero__label {
      max-width: 350px;
      font-size: 12px;
      line-height: 14px; } }
  @media (max-width: 992px) {
    .hero__label {
      max-width: 160px;
      padding: 6px 16px;
      font-size: 8px;
      line-height: 10px; } }
  @media (max-width: 767px) {
    .hero__label {
      max-width: 236px;
      padding: 8px 16px;
      font-size: 14px;
      line-height: 16px; } }

.hero__label-icon {
  margin-right: 22px;
  fill: #55c1ff; }
  @media (max-width: 1220px) {
    .hero__label-icon {
      margin-right: 10px; } }

.footer {
  display: flex;
  align-items: center;
  padding: 45px 0;
  background-color: #060606; }
  @media (max-width: 767px) {
    .footer {
      padding: 84px 0; } }

.footer__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  color: rgba(255, 255, 255, 0.3); }

.footer__agree {
  font-size: 18px;
  line-height: 22px; }
  .footer__agree span {
    display: inline-block;
    margin: 30px 0;
    font-size: 36px;
    line-height: 43px;
    font-weight: bold; }

.footer__copyright {
  font-size: 18px;
  line-height: 22px; }
  .footer__copyright span {
    display: inline-block;
    margin-top: 10px;
    font-size: 24px;
    line-height: 30px;
    font-weight: bold; }

.discount {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 36px;
  position: relative;
  transform: translateY(50%);
  background-color: #ffffff;
  border-radius: 10px;
  z-index: 5; }
  @media (max-width: 1800px) {
    .discount {
      padding: 24px; } }
  @media (max-width: 1439px) {
    .discount {
      margin: 0;
      padding: 16px; } }
  @media (max-width: 575px) {
    .discount {
      flex-direction: column;
      text-align: center;
      margin-bottom: 100px;
      padding: 40px 14px 14px;
      transform: translateY(0); } }
  .discount--wide {
    transform: translateY(0);
    border-radius: 0;
    margin: 0;
    padding: 36px 15%; }
    @media (max-width: 1800px) {
      .discount--wide {
        padding: 36px 5%; } }
    @media (max-width: 575px) {
      .discount--wide {
        padding: 42px 14px 14px;
        margin: 70px 0; } }
    .discount--wide .discount__info {
      padding: 0;
      padding-right: 40px; }
      @media (max-width: 1220px) {
        .discount--wide .discount__info {
          max-width: 570px; } }
      @media (max-width: 992px) {
        .discount--wide .discount__info {
          max-width: 510px; } }
      @media (max-width: 575px) {
        .discount--wide .discount__info {
          padding-right: 0; } }

.discount__info {
  padding: 0 40px 0 26px; }
  @media (max-width: 1220px) {
    .discount__info {
      max-width: 570px; } }
  @media (max-width: 992px) {
    .discount__info {
      max-width: 510px; } }
  @media (max-width: 768px) {
    .discount__info {
      padding: 0 40px 0 0; } }
  @media (max-width: 575px) {
    .discount__info {
      padding: 0; } }

.discount__title {
  margin-bottom: 22px;
  font-weight: bold;
  font-size: 40px;
  line-height: 42px;
  color: #17223b; }
  @media (max-width: 1439px) {
    .discount__title {
      margin-bottom: 10px;
      font-size: 34px;
      line-height: 38px; } }
  @media (max-width: 1220px) {
    .discount__title {
      margin-bottom: 10px;
      font-size: 24px;
      line-height: 25px; } }
  @media (max-width: 575px) {
    .discount__title {
      margin-bottom: 16px;
      font-size: 36px;
      line-height: 37px; } }

.discount__text {
  font-size: 16px;
  line-height: 17px;
  color: rgba(23, 34, 59, 0.7); }
  @media (max-width: 1439px) {
    .discount__text {
      font-size: 16px;
      line-height: 18px; } }
  @media (max-width: 1220px) {
    .discount__text {
      font-size: 14px;
      line-height: 16px; } }
  @media (max-width: 992px) {
    .discount__text {
      font-size: 12px;
      line-height: 14px; } }
  @media (max-width: 575px) {
    .discount__text {
      margin-bottom: 30px;
      font-size: 14px;
      line-height: 17px; } }

.discount__form {
  max-width: 450px; }
  @media (max-width: 1220px) {
    .discount__form {
      max-width: 212px; } }
  @media (max-width: 575px) {
    .discount__form {
      max-width: 100%;
      width: 100%; } }

.discount__form-input {
  margin-bottom: 22px;
  text-align: center;
  border: 1px solid rgba(23, 34, 59, 0.2); }
  @media (max-width: 1439px) {
    .discount__form-input {
      margin-bottom: 10px;
      font-size: 16px;
      line-height: 18px;
      padding: 12px; } }
  @media (max-width: 1220px) {
    .discount__form-input {
      padding: 8px;
      font-size: 14px;
      line-height: 16px; } }
  @media (max-width: 992px) {
    .discount__form-input {
      margin-bottom: 10px;
      font-size: 12px;
      line-height: 14px; } }
  @media (max-width: 575px) {
    .discount__form-input {
      font-size: 16px;
      line-height: 20px;
      padding: 14px; } }

@media (max-width: 1439px) {
  .discount__form-btn {
    font-size: 16px;
    line-height: 18px;
    padding: 12px; } }

@media (max-width: 1220px) {
  .discount__form-btn {
    font-size: 12px;
    line-height: 14px; } }

@media (max-width: 992px) {
  .discount__form-btn {
    font-size: 12px;
    line-height: 14px;
    padding: 8px; } }

@media (max-width: 575px) {
  .discount__form-btn {
    font-size: 16px;
    line-height: 20px;
    padding: 14px;
    max-width: 100%; } }

.experience {
  position: relative; }

.experience__bg {
  position: absolute;
  top: 0;
  bottom: 0;
  z-index: -1; }
  .experience__bg::before {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(180deg, rgba(20, 20, 20, 0) 0%, #141414 79.57%);
    backdrop-filter: blur(10px); }
    @media (max-width: 767px) {
      .experience__bg::before {
        background: linear-gradient(180deg, rgba(20, 20, 20, 0) 0%, #141414 29.57%); } }

.experience__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 86px 0; }
  @media (max-width: 1024px) {
    .experience__content {
      padding: 40px 0; } }
  @media (max-width: 767px) {
    .experience__content {
      flex-direction: column; } }

.experience__title {
  max-width: 1110px;
  margin: 0 auto;
  padding-top: 212px;
  font-weight: bold;
  font-size: 72px;
  line-height: 75px;
  text-align: center; }
  @media (max-width: 1024px) {
    .experience__title {
      padding-top: 120px;
      font-size: 36px;
      line-height: 37px; } }
  @media (max-width: 767px) {
    .experience__title {
      font-size: 48px;
      line-height: 50px; } }

.experience__wrap {
  width: 100%; }
  @media (min-width: 768px) {
    .experience__wrap--small {
      width: 33%; } }
  @media (min-width: 768px) {
    .experience__wrap--wide {
      width: calc(67% - 40px); } }
  @media (min-width: 1439px) {
    .experience__wrap--wide {
      width: calc(67% - 70px); } }
  @media (max-width: 767px) {
    .experience__wrap--wide {
      order: -1; } }

.experience__item {
  border-radius: 15px;
  overflow: hidden; }
  .experience__item:not(:last-child) {
    margin-bottom: 50px; }
  @media (max-width: 767px) {
    .experience__item--wide {
      margin: 0 -20px;
      margin-bottom: 60px;
      border-radius: 0; } }

.experience__picture {
  position: relative;
  width: 100%;
  padding-bottom: 53%; }

.experience__img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  bottom: 0;
  object-fit: cover; }

.experience__text {
  padding: 22px 34px;
  font-size: 20px;
  line-height: 28px;
  color: #17223b;
  background-color: #ffffff; }
  @media (max-width: 1800px) {
    .experience__text {
      padding: 14px;
      font-size: 16px;
      line-height: 20px; } }
  @media (max-width: 1024px) {
    .experience__text {
      padding: 16px;
      font-size: 10px;
      line-height: 11px; } }
  @media (max-width: 767px) {
    .experience__text {
      text-align: justify;
      font-size: 14px;
      line-height: 20px; } }

.experience__descr {
  margin-bottom: 33px;
  text-align: center;
  font-size: 30px;
  line-height: 36px;
  color: rgba(255, 255, 255, 0.7); }
  @media (max-width: 1024px) {
    .experience__descr {
      font-size: 18px;
      line-height: 22px; } }
  @media (max-width: 767px) {
    .experience__descr {
      font-weight: bold;
      font-size: 24px;
      line-height: 29px; } }
  @media (max-width: 1439px) {
    .experience__descr br {
      display: none; } }

.includes__content {
  padding: 80px 0; }
  @media (max-width: 1024px) {
    .includes__content {
      padding: 40px 0; } }

.includes__info {
  text-align: center; }

.includes__title {
  margin-bottom: 30px;
  font-weight: bold;
  font-size: 72px;
  line-height: 75px; }
  @media (max-width: 1024px) {
    .includes__title {
      margin-bottom: 22px;
      font-size: 36px;
      line-height: 37px; } }

.includes__text {
  margin-bottom: 60px;
  font-size: 36px;
  line-height: 37px;
  color: rgba(255, 255, 255, 0.6); }
  @media (max-width: 1024px) {
    .includes__text {
      margin-bottom: 34px;
      font-size: 18px;
      line-height: 19px; } }

.includes__gallery {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-column-gap: 76px;
  grid-row-gap: 51px; }
  @media (max-width: 1800px) {
    .includes__gallery {
      grid-column-gap: 30px;
      grid-row-gap: 20px; } }
  @media (max-width: 767px) {
    .includes__gallery {
      grid-template-columns: repeat(2, 1fr); } }

.includes__item {
  display: flex;
  flex-direction: column;
  border-radius: 15px;
  overflow: hidden; }

.includes__item-picture {
  position: relative;
  padding-bottom: 112%; }

.includes__item-img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover; }

.includes__item-title {
  display: flex;
  flex: 1 0 auto;
  align-items: center;
  justify-content: center;
  padding: 20px;
  font-weight: bold;
  font-size: 24px;
  line-height: 25px;
  text-align: center;
  color: #17223b;
  background-color: #ffffff; }
  @media (max-width: 1800px) {
    .includes__item-title {
      font-size: 18px;
      line-height: 22px; } }
  @media (max-width: 1024px) {
    .includes__item-title {
      padding: 10px;
      font-size: 10px;
      line-height: 10px; } }
  @media (max-width: 767px) {
    .includes__item-title {
      font-size: 14px;
      line-height: 15px; } }

.opening__content {
  padding: 80px 0 140px; }
  @media (max-width: 1024px) {
    .opening__content {
      padding: 40px 0 80px; } }

.opening__info {
  text-align: center; }

.opening__title {
  margin-bottom: 30px;
  font-weight: bold;
  font-size: 72px;
  line-height: 75px; }
  @media (max-width: 1024px) {
    .opening__title {
      margin-bottom: 18px;
      font-size: 36px;
      line-height: 37px; } }
  @media (max-width: 767px) {
    .opening__title {
      margin-bottom: 28px;
      font-size: 48px;
      line-height: 50px; } }

.opening__text {
  margin-bottom: 46px;
  font-size: 24px;
  line-height: 29px;
  color: rgba(255, 255, 255, 0.6); }
  @media (max-width: 1024px) {
    .opening__text {
      margin-bottom: 22px;
      font-size: 10px;
      line-height: 12px; } }
  @media (max-width: 575px) {
    .opening__text {
      font-size: 14px;
      line-height: 17px; } }

.opening__picture {
  position: relative;
  padding-bottom: 42%;
  border-radius: 15px;
  overflow: hidden; }
  @media (max-width: 767px) {
    .opening__picture {
      padding-bottom: 54%;
      margin: 0 -20px;
      border-radius: 0; } }

.opening__img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover; }

.billing {
  max-width: 640px; }

.billing__title {
  margin-bottom: 22px;
  font-weight: bold;
  font-size: 48px;
  line-height: 59px;
  text-align: center;
  letter-spacing: -0.02em;
  color: #ffffff; }
  @media (max-width: 575px) {
    .billing__title {
      font-size: 36px;
      line-height: 44px; } }

.billing__info {
  display: flex;
  flex-direction: column;
  padding-bottom: 20px;
  border-bottom: 1px solid #ffffff; }
  @media (max-width: 767px) {
    .billing__info {
      border-bottom: 1px solid rgba(255, 255, 255, 0.3); } }

.billing__info-row {
  display: flex;
  justify-content: space-between;
  font-size: 24px;
  line-height: 41px;
  letter-spacing: -0.02em;
  color: #ffffff; }
  @media (max-width: 575px) {
    .billing__info-row {
      font-size: 18px;
      line-height: 31px; } }

.billing__info-reserve {
  font-weight: bold; }

.billing__form {
  margin: 30px 0 110px;
  text-align: center; }
  @media (max-width: 767px) {
    .billing__form {
      margin-bottom: 70px; } }

.billing__form-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
  padding-bottom: 10px;
  border-bottom: 1px solid #ffffff; }
  @media (max-width: 767px) {
    .billing__form-group {
      border-bottom: 1px solid rgba(255, 255, 255, 0.3); } }

.billing__form-row {
  display: flex;
  justify-content: space-between; }
  @media (max-width: 575px) {
    .billing__form-row {
      flex-direction: column; } }
  .billing__form-row .form__input {
    width: calc(50% - 10px); }
    @media (max-width: 575px) {
      .billing__form-row .form__input {
        width: 100%; } }

.billing .form__input {
  margin-bottom: 22px; }

.billing__btn {
  max-width: none;
  width: auto;
  padding: 15px 30px; }
  @media (max-width: 575px) {
    .billing__btn {
      width: 100%;
      padding: 15px 25px;
      font-size: 16px;
      line-height: 26px; } }

.billing__form-select {
  display: flex; }

.billing__reserve-total {
  display: block;
  text-align: left;
  margin-bottom: 30px; }
  @media (max-width: 575px) {
    .billing__reserve-total {
      text-align: center; } }

.select {
  position: relative;
  padding: 0 25px; }
  .select select {
    background: none;
    border: 0;
    appearance: none;
    font-family: inherit;
    width: 100%;
    height: 100%;
    padding: 15px 0;
    padding-right: 5px;
    display: block;
    outline: none;
    cursor: pointer; }
    .select select::-ms-expand {
      display: none; }
  .select::after {
    content: "";
    display: block;
    width: 8px;
    height: 8px;
    border-bottom: 2px solid #000000;
    border-right: 2px solid #000000;
    transform: rotate(45deg) translateY(-50%);
    position: absolute;
    right: 20px;
    top: 50%;
    pointer-events: none; }

.billing__footer-bg {
  min-height: 250px; }

.billing-hero {
  display: flex; }
  @media (max-width: 1024px) {
    .billing-hero {
      height: auto;
      max-height: unset; } }
  .billing-hero::before {
    background: rgba(0, 0, 0, 0.6);
    position: absolute;
    content: "";
    top: 0;
    left: unset;
    right: 0;
    bottom: 0;
    width: 50%;
    height: 100%;
    z-index: -1;
    backdrop-filter: blur(10px); }
    @media (max-width: 1220px) {
      .billing-hero::before {
        width: 70%; } }
    @media (max-width: 1024px) {
      .billing-hero::before {
        width: 100%; } }
    @media (max-width: 767px) {
      .billing-hero::before {
        width: 0%; } }

.billing-hero__info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  width: 50%;
  height: 100%;
  padding: 4% 10% 4% 5%;
  margin-left: auto; }
  @media (max-width: 1220px) {
    .billing-hero__info {
      width: 70%; } }
  @media (max-width: 1024px) {
    .billing-hero__info {
      width: 100%;
      justify-content: flex-start;
      padding: 8% 5% 18%; } }

.billing-hero__subtitle {
  position: relative;
  margin-bottom: 76px;
  font-size: 24px;
  line-height: 29px;
  font-weight: bold;
  letter-spacing: -0.02em;
  color: rgba(255, 255, 255, 0.9); }
  @media (max-width: 1439px) {
    .billing-hero__subtitle {
      margin-bottom: 40px; } }
  @media (max-width: 767px) {
    .billing-hero__subtitle {
      margin-bottom: 180px; } }
  .billing-hero__subtitle::before {
    position: absolute;
    content: "";
    width: 50px;
    height: 5px;
    left: 0;
    bottom: -8px;
    background-color: rgba(85, 193, 255, 0.9); }

.billing-hero__title {
  margin-bottom: 30px;
  font-size: 30px;
  line-height: 37px;
  font-weight: bold;
  letter-spacing: -0.02em;
  color: #ffffff; }
  @media (max-width: 1439px) {
    .billing-hero__title {
      font-size: 24px;
      line-height: 30px; } }
  @media (max-width: 767px) {
    .billing-hero__title {
      margin-bottom: 16px; } }

.billing-hero__descr {
  margin-bottom: 20px;
  font-size: 18px;
  line-height: 30px;
  text-align: justify;
  letter-spacing: 0.02em;
  color: #ffffff; }
  @media (max-width: 767px) {
    .billing-hero__descr {
      margin-bottom: 200px; } }
  .billing-hero__descr p {
    margin-bottom: 20px; }
    @media (max-width: 575px) {
      .billing-hero__descr p {
        font-size: 14px;
        line-height: 21px; } }

.guarantee {
  padding: 112px 0; }
  @media (max-width: 1220px) {
    .guarantee {
      padding: 50px 0;
      max-width: 800px;
      margin: 0 auto; } }
  @media (max-width: 575px) {
    .guarantee {
      padding: 50px 0 0; } }

.guarantee__list {
  display: flex;
  margin: 0 auto;
  padding: 0;
  max-width: 1280px; }
  @media (max-width: 1220px) {
    .guarantee__list {
      flex-direction: column;
      padding: 0  40px; } }

.guarantee__item {
  flex: 0 0 33.3333%;
  padding: 0 46px;
  color: #ffffff; }
  @media (max-width: 1220px) {
    .guarantee__item {
      width: 100%;
      padding: 40px 0; } }

.guarantee__item + .guarantee__item {
  border-left: 1px solid rgba(255, 255, 255, 0.2); }
  @media (max-width: 1220px) {
    .guarantee__item + .guarantee__item {
      border-left: none;
      border-top: 1px solid rgba(255, 255, 255, 0.2); } }

.guarantee__inner {
  display: flex;
  align-items: center;
  margin-bottom: 23px; }

.guarantee__title {
  margin-left: 15px;
  font-size: 30px;
  line-height: 37px;
  font-weight: bold;
  letter-spacing: -0.02em; }

.guarantee__text {
  font-size: 18px;
  line-height: 30px;
  text-align: justify;
  letter-spacing: 0.02em; }
  @media (max-width: 1220px) {
    .guarantee__text {
      opacity: 0.8; } }

.guarantee__icon {
  fill: #55c1ff;
  max-width: 70px; }

.congrats {
  display: flex; }
  @media (max-width: 1024px) {
    .congrats {
      height: auto;
      max-height: unset; } }
  .congrats::before {
    background: rgba(0, 0, 0, 0.6);
    position: absolute;
    content: "";
    top: 0;
    left: unset;
    right: 0;
    bottom: 0;
    width: 50%;
    height: 100%;
    z-index: -1;
    backdrop-filter: blur(10px); }
    @media (max-width: 1220px) {
      .congrats::before {
        width: 70%; } }
    @media (max-width: 1024px) {
      .congrats::before {
        width: 100%; } }
    @media (max-width: 767px) {
      .congrats::before {
        width: 0%; } }

.congrats__info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  width: 50%;
  height: 100%;
  padding: 4% 10% 4% 5%;
  margin-left: auto; }
  @media (max-width: 1220px) {
    .congrats__info {
      width: 70%; } }
  @media (max-width: 1024px) {
    .congrats__info {
      width: 100%;
      justify-content: flex-start;
      padding: 15% 5%; } }
  @media (max-width: 767px) {
    .congrats__info {
      padding: 8% 5% 18%; } }

.congrats__subtitle {
  position: relative;
  margin-bottom: 76px;
  font-size: 24px;
  line-height: 29px;
  font-weight: bold;
  letter-spacing: -0.02em;
  color: rgba(255, 255, 255, 0.9); }
  @media (max-width: 1439px) {
    .congrats__subtitle {
      margin-bottom: 40px; } }
  @media (max-width: 767px) {
    .congrats__subtitle {
      margin-bottom: 122px; } }
  .congrats__subtitle::before {
    position: absolute;
    content: "";
    width: 50px;
    height: 5px;
    left: 0;
    bottom: -8px;
    background-color: rgba(85, 193, 255, 0.9); }

.congrats__title {
  margin-bottom: 30px;
  font-size: 48px;
  line-height: 59px;
  font-weight: bold;
  letter-spacing: -0.02em;
  color: #ffffff; }
  @media (max-width: 1800px) {
    .congrats__title {
      font-size: 44px;
      line-height: 54px; } }
  @media (max-width: 1439px) {
    .congrats__title {
      font-size: 30px;
      line-height: 32px; } }

.congrats__descr {
  margin-bottom: 40px;
  font-size: 18px;
  line-height: 30px;
  text-align: justify;
  letter-spacing: 0.02em;
  color: #ffffff; }
  @media (max-width: 767px) {
    .congrats__descr {
      margin-bottom: 300px; } }
  @media (max-width: 575px) {
    .congrats__descr {
      font-size: 14px;
      line-height: 21px; } }
