.page {
  height: 100%;
  min-width: 320px;
  margin: 0;
  font-weight: normal;
  font-size: 14px;
  line-height: 1;
  font-family: $main-font;
  color: $light-text;
}

.page__body {
  min-height: 100%;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  margin: 0 auto;
  background-color: $dark-background;
}
