// Colors text
$light-text: #ffffff;
$dark-text: ##1223b;
$light-gray-text: #262626;
$highlight-color: #55c1ff;

//Background
$dark-background: #141414;
$light-background: #ffffff;
$footer-background: #060606;
// Fonts
$main-font: "Montserrat", "Arial", sans-serif;

// Viewports
// $mobile-width-only: 767px;
// $tablet-width: 768px;
// $desktop-width: 1200px;

$mobile-s-width: 575px;
$mobile-width: 767px;
$tablet-width: 1024px;
$desktop-s-width: 1220px;
$desktop-l-width: 1439px;
$desktop-xl-width: 1800px;
